* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin:0;
    padding:0;
}

html {
    background-color:cornflowerblue;
}

body {
    width: 76%;
    padding: 2em;
    margin: 2em auto;
}